{% extends 'base.html' %}

{% block content %}
    <h1>Registered Users</h1>
    <ul class="user-list">
        {% for user in users %}
            <li>{{ user['Username'] }}</li>
        {% endfor %}
    </ul>

    <!-- Gmail Link -->
    <p class="animated-text">Any updates? Send an email to all participants to update them about any announcements.</p>
    <a class="gmail-button" href="https://mail.google.com/mail/?view=cm&fs=1&to={{ user_emails|join(',') }}&su=Your Subject Here&body=Your Email Body Here" target="_blank">
        Send Email
    </a>


    <form action="{{ url_for('upcoming_events_organizer') }}"><button type="submit" class = "back">Back to Events</button>
{% endblock %}
